/** CSS STYLE **/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

::-webkit-input-placeholder {
  color: #757575;
}

::-ms-input-placeholder {
  color: #757575;
}

::-moz-placeholder {
  color: #757575;
}

:-moz-placeholder {
  color: #757575;
}

:-ms-input-placeholder {
  color: #757575;
}

::placeholder {
  color: #757575;
}

:root {
  --white: #fff;
  --semi-transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --orange: #fe8a02;
  --dark-orange: #42413c;
  --dark: #2a2626;
  --semi-transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

html,
body {
  min-height: 100%;
}

body {
  overflow-x: hidden;

  color: var(--dark);

  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: "Neucha", cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

.h5 {
  margin-bottom: 20px;
  padding: 6px 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1em;
  text-transform: uppercase;
}

header {
  position: relative;
}

header img {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: 0;

  height: 525px;
}

header h1 {
  position: relative;
  z-index: 2;
}

.container {
  position: relative;

  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.video-container {
  position: relative;

  width: 919px;
  height: 476px;

  margin: 0 auto;
}

.video-container .video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#navigation {
  padding-top: 100px;

  background-color: var(--dark-orange);
}

#navigation .navigation-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0 -15px;
}

#navigation .navigation-container .item,
#navigation .navigation-container .navigation-header {
  display: block;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  margin-bottom: 20px;
  padding: 0 15px;
}

#navigation .navigation-container .item {
  color: var(--dark);

  text-decoration: none;

  cursor: pointer;
}

#navigation .navigation-header .item-content {
  padding: 0;

  background-color: var(--dark-orange);
}

#navigation .navigation-header .item-content h3 {
  font-size: 52px;
}

#navigation .item .item-content {
  display: block;
  height: 100%;
  padding: 24px;

  background-color: var(--light);
}

#navigation .item .count {
  display: block;
  margin-bottom: 40px;

  color: var(--dark-orange);

  font-weight: 400;
  font-size: 64px;
  font-family: "Neucha", cursive;

  line-height: 1;
}

footer form {
  margin-bottom: 76px;
  padding: 38px 40px 55px;

  background-color: var(--dark-orange);
}

footer form label {
  display: block;
  margin-bottom: 9px;

  color: var(--white);

  font-size: 18px;
}

footer form input {
  height: 50px;

  padding: 15px;

  border: none;
}

footer form button {
  position: relative;

  width: 70px;
  height: 50px;

  border: none;

  background-color: var(--orange);
}

footer form button::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: url("../images/send.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px 20px;

  content: "";
}

footer form span,
footer form span a {
  color: var(--white);

  font-size: 12px;
}

footer .contacts {
  font-size: 14px;
  text-align: center;
}

footer .contacts a {
  color: var(--blue);
}

.column {
  column-count: 2;
  column-gap: 30px;
}

.column p {
  line-height: 25px;
}

header .column p {
  margin-bottom: 16px;
}

.column p:first-child {
  break-after: column;
}

.bg {
  position: relative;
}

.bg::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  width: 100%;
  height: 100%;

  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.btn {
  display: inline-block;
  padding: 12px 24px;

  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--orange);
}

header .btn {
  margin-top: 24px;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.white {
  color: var(--white);
}

.twhite {
  color: var(--semi-transparent-white);
}

.orange {
  color: var(--orange);
}

.dark {
  color: var(--dark);
}

.tdark {
  color: var(--semi-transparent-dark);
}

.brown {
  color: var(--brown);
}

.bg-white {
  background-color: var(--white);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-light {
  background-color: var(--light);
}

.mb16 {
  margin-bottom: 16px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb34 {
  margin-bottom: 34px;
}

.mb100 {
  margin-bottom: 100px;
}

.mb200 {
  margin-bottom: 200px;
}

.mr30 {
  margin-right: 30px;
}

.ml30 {
  margin-left: 30px;
}

.pb0 {
  padding-bottom: 0;
}

.center {
  text-align: center;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
